@layer base {
  body {
    @apply dark:bg-black dark:text-white;
  }

  heading {
    @apply text-center;
  }

  a {
    @apply text-blue-400 underline;
  }

  li {
    @apply list-none;
  }

  h1 {
    @apply my-4 text-center text-2xl font-black;
  }

  nav {
    @apply my-4;
  }

  main {
    @apply container mx-auto mt-16;
  }

  button[type="button"],
  button[type="submit"] {
    @apply rounded bg-blue-400 px-4 py-2 text-white transition-colors hover:bg-blue-600;
  }

  form {
    @apply flex flex-col items-center gap-4;
  }

  label {
    @apply sr-only;
  }

  input[type="text"],
  input[type="email"] {
    @apply rounded;
  }

  p {
    @apply text-center;
  }
}
